html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

h1,
h2,
p,
pre {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}