name: CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

permissions:
  contents: read

jobs:
  ci:
    name: Noted - lint, typecheck, tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: myapp
          POSTGRES_USER: myuser
          POSTGRES_PASSWORD: 1234567
        options: >-
          --health-cmd="pg_isready -U test"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Generate prisma client
        env:
          DATABASE_URL: "postgresql://user:pass@localhost:5432/dummy"
        run: npx prisma generate client

      - name: Audit
        run: npm audit

      - name: Type Check
        run: npm run typecheck

      - name: Format Check
        run: npx prettier --check .

      - name: Lint All
        run: npx nx run-many --target=lint --all

      - name: Test All
        run: npx nx run-many --target=test --all --passWithNoTests
